<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- FAVICON -->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="css/main.css">
  <title>Inicio</title>
</head>

<body>
  <div class="content" id="fecha_hora">
    <div id="dia_semana"></div>
    <div id="fecha"></div>
    <div id="hora"></div>
  </div>

  <!-- CUSTOM JS -->
  <script src="js/main.js"></script>
</body>

</html>